.vs/
res/
SpotiDown.Android/obj/
SpotiDown.Android/bin/
SpotiDown/obj/
SpotiDown/bin/
SpotiDownVB/obj/
SpotiDownVB/bin/
SpotiDownWin/.vs/
SpotiDownWin/SpotiDownWin/obj/
SpotiDownWin/SpotiDownWin/bin/
*.suo
*.user
_ReSharper.*
bin
obj
packages
